@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS 460 Homework 4</h1>
    <p class="lead">Gets our hands dirty with ASP.NET, GET, POST, etc.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>RGB COLOR</h2>
        <p>Using GET.</p>
        <p><a class="btn btn-default" href="~/Home/RGBColor">Try it out 😢</a></p>
    </div>
    <div class="col-md-4">
        <h2>COLOR INTERPOLATION</h2>
        <p>Using POST.</p>
        <p><a class="btn btn-default" href="~/ColorInterpolator/Create">Try it out 😢</a></p>
    </div>
</div>